Repository GNU-CORNER/BookkyProject_iOS, pull requests merged in 2022-05, with the labels that each got.

#48 Write/community
  .DS_Store
  BookkyProject/.DS_Store
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/.DS_Store
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Symbol.symbolset/Contents.json
  BookkyProject/BookkyProject-iOS/Controller/.DS_Store
  BookkyProject/BookkyProject-iOS/Controller/Community/BoardTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/WriteTextViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/HomeViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagCollectionReusableViewHeader.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagViewCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagViewController.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WriteGetListDataFomat.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WritePostDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Community/testData.swift
  BookkyProject/BookkyProject-iOS/Model/Home/HomeDataForMat.swift
  BookkyProject/BookkyProject-iOS/Model/Home/TagDataFormat.swift
  BookkyProject/BookkyProject-iOS/New Group/ButtonPadding.swift
  BookkyProject/BookkyProject-iOS/SerVice/CommunityDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/BookkyURL.swift
  BookkyProject/BookkyProject-iOS/Service/HomeGetDataBookSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/HomeGetDataSerVice.swift
  BookkyProject/BookkyProject-iOS/View/.DS_Store
  BookkyProject/BookkyProject-iOS/View/Base.lproj/Main.storyboard
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
  BookkyProject/BookkyProject-iOS/View/Home/.DS_Store
  BookkyProject/BookkyProject-iOS/View/Home/BookTableViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
Labels: feacture✨, UI/Home, UI/Community

#56 Dev/initial interests
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Assets.xcassets/lightGrayColor.colorset/Contents.json
  BookkyProject/BookkyProject-iOS/Controller/Login/InitialResearch/InitialResearchViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/InitialResearch/ResearchViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/InitialResearch/TagsCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/SignupVC.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/MyProfileViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/extension/UITextField.swift
  BookkyProject/BookkyProject-iOS/View/Login/InitialResearch.storyboard
  BookkyProject/BookkyProject-iOS/View/Login/Login.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyProfile.storyboard
Labels: view🖊

#58 수정사항업로드
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/SearchPostTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/SearchPostViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/WriteTextViewController.swift
  BookkyProject/BookkyProject-iOS/SerVice/CommunityDataSerVice.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/CollectionViewCell/MyPostsCollectionViewCell.xib
Labels: bug🐛, feacture✨, UI/Community

#60 #37 검색기능을 제외한View구현
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/AddBookTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/WritePostBookSearchTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/WritePostBookSearchViewController.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
Labels: UI/Community, view🖊

#61 #35 커뮤니티 검색 뷰 구현완료 , 기능 구현 필요
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/SearchPostTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/SearchPostTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/SearchPostViewController.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
Labels: UI/Community, view🖊

#62 #33 QnA게시판게시글리스트 UI구현완료
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/BoardTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/QnABoardTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/QnABoardTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Home/HomeViewController.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
Labels: UI/Community, view🖊

#63 Dev/myprofile detail
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Assets.xcassets/.DS_Store
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/Bookky_Logo.imageset/Bookky_Logo.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/Bookky_Logo.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/관심북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/관심북키1.imageset/관심북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로고.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로고.imageset/로고.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키1-1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키1-1.imageset/로긴북키1-1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키1배경없ver-1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키1배경없ver-1.imageset/로긴북키1배경없ver-1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키2-1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/로긴북키2-1.imageset/로긴북키2-1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/범인북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/범인북키1.imageset/범인북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/북키1.imageset/북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/북키프사.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/북키프사.imageset/북키프사.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/생각하는북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/생각하는북키1.imageset/생각하는북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/안내견북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/안내견북키1.imageset/안내견북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/장바구니북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/장바구니북키1.imageset/장바구니북키1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/탐정북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/Bookky/탐정북키1.imageset/탐정북키1.png
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/CollectionViewCell/MyBooksCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/CollectionViewCell/MyPostCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/CollectionViewCell/MyReviewsCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/CollectionViewCell/MyTagsCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/DetailCollectionViewCell/MyBooksMoreCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/DetailCollectionViewCell/MyReviewsMoreCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyBooksMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyPostsMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyProfileUpdateViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyReviewsMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/MyProfileViewController.swift
  BookkyProject/BookkyProject-iOS/Model/MyProfileModel.swift
  BookkyProject/BookkyProject-iOS/View/Home/BookCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/MyProfile/CollectionViewCell/MyPostsCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/MyProfile/CollectionViewCell/MyReviewsCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/DetailCollectionViewCell/MyReviewsMoreCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyBooksMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyPostsMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyProfileUpdateView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyReviewsMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyBooksMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyPostsMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyProfile.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyReviewsMoreView.storyboard
Labels: UI/MyProfile, view🖊

#66 Write re view/book detail
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/BoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetailTagCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookWriteReviewViewController.swift
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
Labels: UI/Home, view🖊

#64 [PR] 내정보 세팅화면 view 구현 완료.
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Assets.xcassets/로긴북키2-1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/로긴북키2-1.imageset/로긴북키2-1.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/북키프사.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/북키프사.imageset/북키프사.png
  BookkyProject/BookkyProject-iOS/Assets.xcassets/생각하는북키1.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/생각하는북키1.imageset/생각하는북키1.png
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/SettingsViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/MyProfileViewController.swift
  BookkyProject/BookkyProject-iOS/View/MyProfile/CollectionViewCell/MyPostsCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/SettingsView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyProfile.storyboard
Labels: UI/MyProfile

#69 Book detail/home
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/.DS_Store
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailReviewTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailTagCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookWriteReviewViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/HomeViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagBookList/TagCollectionReusableViewHeader.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagBookList/TagViewCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagBookList/TagViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagMoreButtonViewController.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ButtonPadding.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ExtensionStatusBar.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ExtensionUikit.swift
  BookkyProject/BookkyProject-iOS/Model/Home/HomeDataForMat.swift
  BookkyProject/BookkyProject-iOS/Service/HomeDataSerVice.swift
  BookkyProject/BookkyProject-iOS/View/.DS_Store
  BookkyProject/BookkyProject-iOS/View/Home/BookCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Home/BookTableViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
Labels: feature✨, UI/Home, view🖊

#70 ✅ #31 : Basic Search view(recent search, tag...), Search result view.
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Assets.xcassets/WhiteOrBlack.colorset/Contents.json
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchDefaultTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchDefaultTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchResultTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchResultTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchTableViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchTagCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchViewController.swift
  BookkyProject/BookkyProject-iOS/Model/Search/SearchModel.swift
  BookkyProject/BookkyProject-iOS/View/Search.storyboard
Labels: UI/Search, view🖊

#72 #61 : BID ->TBID TId ->TMID 변경
  BookkyProject/BookkyProject-iOS/Controller/Home/BookCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailTagCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/TagBookList/TagViewCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Model/Home/HomeBookDetailReviewDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Home/HomeDataForMat.swift
  BookkyProject/BookkyProject-iOS/Model/Home/TagDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Home/TagMoreViewBookList.swift
Labels: HotFix❗️
