Repository GNU-CORNER/BookkyProject_iOS, pull requests merged in 2022-08, with the labels that each got.

#91 #90 : 관심도서설정완료
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Model/Home/HomeDataForMat.swift
  BookkyProject/BookkyProject-iOS/Service/BookkyURL.swift
  BookkyProject/BookkyProject-iOS/Service/Home/HomeDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/Home/HomePostSevice.swift
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
Labels: feature✨, UI/Home

#93 ✅ #34 solved : create roadmap button
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Assets.xcassets/안내견북키.imageset/Contents.json
  BookkyProject/BookkyProject-iOS/Assets.xcassets/안내견북키.imageset/안내견북키1.png
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyPostsMoreTableViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RecommendViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RoadmapBookkyTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RoadmapViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/Cell/SearchResultTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchResultsViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchTableViewController.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/UIView.swift
  BookkyProject/BookkyProject-iOS/View/.DS_Store
  BookkyProject/BookkyProject-iOS/View/MyProfile/CollectionViewCell/MyReviewsCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Recommend.storyboard
  BookkyProject/BookkyProject-iOS/View/Recommend/Recommend.storyboard
  BookkyProject/BookkyProject-iOS/View/Recommend/Roadmap.storyboard
  BookkyProject/BookkyProject-iOS/View/Recommend/RoadmapBookkyTableViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Search/Cell/LoadingCell.xib
  BookkyProject/BookkyProject-iOS/View/Search/Cell/SearchResultTableViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Search/Cell/SearchTagCollectionViewCell.xib
Labels: feature✨, UI/Recommend, UI/Search, view🖊

#94 Recommend View
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RecommendTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RecommendViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Recommend/RoadmapViewController.swift
  BookkyProject/BookkyProject-iOS/View/Recommend/RecommendTableViewCell.xib
  BookkyProject/BookkyProject-iOS/View/Recommend/Roadmap.storyboard
  BookkyProject/BookkyProject-iOS/View/Recommend/RoadmapTableViewCell.swift
  BookkyProject/BookkyProject-iOS/View/Recommend/RoadmapTableViewCell.xib
Labels: view🖊
