Repository GNU-CORNER/BookkyProject_iOS, pull requests merged in 2022-06, with the labels that each got.

#75 Dev/myprofile detail
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Home/HomeViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/InitialResearch/ResearchViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/LoginVC.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/SignupVC.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyBooksMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyPostsMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyProfileUpdateViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/MyReviewsMoreViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/DetailView/SettingsViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/MyProfile/MyProfileViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Search/SearchTagCollectionViewCell.xib
  BookkyProject/BookkyProject-iOS/ExtensionUI/UIImageExtension.swift
  BookkyProject/BookkyProject-iOS/Info.plist
  BookkyProject/BookkyProject-iOS/Model/MyProfileModel.swift
  BookkyProject/BookkyProject-iOS/Model/MyProfileUpdateModel.swift
  BookkyProject/BookkyProject-iOS/Model/TagsModel.swift
  BookkyProject/BookkyProject-iOS/Model/UserDefaultsModel.swift
  BookkyProject/BookkyProject-iOS/SerVice/CameraHandler.swift
  BookkyProject/BookkyProject-iOS/SerVice/MyProfileAPI.swift
  BookkyProject/BookkyProject-iOS/SerVice/RedirectView.swift
  BookkyProject/BookkyProject-iOS/SerVice/UserTagHandler.swift
  BookkyProject/BookkyProject-iOS/Service/Account.swift
  BookkyProject/BookkyProject-iOS/Service/BookkyURL.swift
  BookkyProject/BookkyProject-iOS/Service/EmailAuthenticate.swift
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
  BookkyProject/BookkyProject-iOS/View/Login/InitialResearch.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyBooksMoreView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/MyProfileUpdateView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/DetailView/SettingsView.storyboard
  BookkyProject/BookkyProject-iOS/View/MyProfile/MyProfile.storyboard
Labels: feature✨, UI/MyProfile

#76 Bufix n feat/community
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextCommentTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextCommentTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/CommentHeaderTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/CommentHeaderTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityReplyCommentTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityReplyCommentTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/BoardDetail/QnABoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/BoardDetail/QnaAnswerTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/BoardDetail/QnaAnswerTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/CommunityPostList/QnABoardTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/CommunityPostList/QnABoardTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnABoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnACommentViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnACommunity.storyboard
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnAWriteAnswerViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Write/WriteTextViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/BookDetail/BookDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Home/HomeViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Login/SignupVC.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/CustomButton.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ExtensionUIAertAction.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ExtensionUikit.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WriteGetListDataFomat.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WritePostDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WriteTextDetailDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Community/testData.swift
  BookkyProject/BookkyProject-iOS/SerVice/CommunityDataSerVice.swift
  BookkyProject/BookkyProject-iOS/SerVice/KeychainManager.swift
  BookkyProject/BookkyProject-iOS/Service/BookkyURL.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityDeleteDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityGetDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityPostDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/HomeDataSerVice.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
  BookkyProject/BookkyProject-iOS/View/Home/Home.storyboard
Labels: bug🐛, feature✨, UI/Community, view🖊, HotFix❗️

#81 QnA 쪽 답글 수정 , 글 수정 제외한 모든 기능 구현완료
  BookkyProject/BookkyProject-iOS.xcodeproj/project.pbxproj
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextCommentTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextDetailImageCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/BoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/CommentHeaderTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Board/CommentHeaderTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityReplyCommentTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/CommunityReplyCommentTableViewCell.xib
  BookkyProject/BookkyProject-iOS/Controller/Community/PostUpdate/UpdateAddImgCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/PostUpdate/UpdatePostViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/BoardDetail/QnABoardTextDetailViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnACommentViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnACommunity.storyboard
  BookkyProject/BookkyProject-iOS/Controller/Community/Q&A/QnAWriteAnswerViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Write/WriteAddImgCollectionViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Write/WritePostBookSearchTableViewCell.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Write/WritePostBookSearchViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/Write/WriteTextViewController.swift
  BookkyProject/BookkyProject-iOS/Controller/Community/search/SearchPostViewController.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/CustomButton.swift
  BookkyProject/BookkyProject-iOS/ExtensionUI/ExtensionUIImage.swift
  BookkyProject/BookkyProject-iOS/Model/Community/WriteTextDetailDataFormat.swift
  BookkyProject/BookkyProject-iOS/Model/Search/SearchModel.swift
  BookkyProject/BookkyProject-iOS/Service/BookkyURL.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityGetDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityPostDataSerVice.swift
  BookkyProject/BookkyProject-iOS/Service/Community/CommunityUpdateService.swift
  BookkyProject/BookkyProject-iOS/View/Community.storyboard
Labels: bug🐛, feature✨, UI/Community, view🖊
